* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}

body {
  position: relative;
  /* background-color: #f0f1f1; */
  background-color: #ddd;
  padding-bottom: 2rem;
  height: 100%;
}

.deOnibus {
  width: 80%;
  margin-left: 10%;
}
.deOnibus__container {
  display: flex;
}
